.App {
  text-align: center;
  background-color: #233234;
  flex:1;
  display:flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  background-blend-mode: multiply;
}
.body-copy{
  color: #f29538;
  margin-left: 50px;
  margin-right: 50px;
}
.App-header {
  background-color: #233234;
  padding: 20px;
  color: #e55051;
}
.bodylink a:visited {
  color: black;
}
.headerlink a:visited {
  color: white;
}
a:link{
  color:#d66654;
  text-decoration-line: none;
}
a:visited{
  color:#d66654;
  text-decoration-line: none;
}
a:hover{
  color:black;
  text-decoration-line: none;
  background-color: #d66654;
}

.App-footer {
  background-color: #233234;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  font-weight: bold;
  color: #d66654;
  margin-left: 40px;
  margin-right: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
